#anki_dialog {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  cursor: default;
  display: none;
  margin-top:  15px;
  position: absolute;
  text-align: left;
  width: 394px;
  z-index: 50;
  padding:  25px 25px 20px;

/*p {
  margin-top: 300px
}*/